#ignore dowloaded participation file, copy of Vojta Ulehla's database and any other xls
*.xls
*.xlsx

#ignore .py files in root -- setups will be placed here
/*.py

#ignore all .pkl files -- ie. saved setups and solutions
**/*.pkl

#ignore weird cython stuff
druzinkator/__pycache__/
__pycache__/

#ignore VS Code stuff
.vscode

#ignore venv
venv